#                India Crime Capstone Project

# Phase-1 (collection of data)

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

Reference link

'https://en.wikipedia.org/wiki/List_of_Indian_states_and_union_territories_by_literacy_rate'
'https://en.wikipedia.org/wiki/List_of_states_and_union_territories_of_India_by_population'
'https://en.wikipedia.org/wiki/List_of_states_and_union_territories_of_India_by_crime_rate'
'https://en.wikipedia.org/wiki/List_of_states_and_union_territories_of_India_by_area'

In [15]:
df=pd.read_csv('IndiaCrimeData.csv')
df.head()

,Rank,States/UT,Area,Unnamed: 3,population 2011,population 2023,Crime_Rate,Literacy_Rate
0,1.0,Uttar Pradesh,240928,NaN,199812341.0,235687000,262.4,67.68
1,2.0,Maharashtra,307713,NaN,112374333.0,126385000,433.5,82.34
2,3.0,Bihar,94163,NaN,104099452.0,126756000,228.0,61.80
3,4.0,West Bengal,88752,NaN,91276115.0,99084000,185.0,76.36
4,5.0,Madhya Pradesh,308252,NaN,72626809.0,86579000,560.8,69.32

In [16]:
# From above links I have collected data in which 'crime rate' and 'literacy rate' are current data but population I have
# collected for year 2011 and 2023.

In [17]:
df.isnull().sum()

Rank                 2
States/UT            0
Area                 0
Unnamed: 3          36
population  2011     1
population 2023      0
Crime_Rate           0
Literacy_Rate        0
dtype: int64

In [18]:
df.drop(['Rank','Unnamed: 3'],axis=1,inplace=True)

In [19]:
# To check the row having literacy rate nan.
nan_rows = df[df['Literacy_Rate'].isna()].index.tolist()
nan_rows

[]

In [20]:
# Creating a column just to check increasing rate of population from 2011 to 2023.
df['pop_increas_rate']=((df['population 2023']-df['population  2011'])/df['population  2011'])*100

In [21]:
df

,States/UT,Area,population 2011,population 2023,Crime_Rate,Literacy_Rate,pop_increas_rate
0,Uttar Pradesh,240928,199812341.0,235687000,262.4,67.68,17.954176
1,Maharashtra,307713,112374333.0,126385000,433.5,82.34,12.467853
2,Bihar,94163,104099452.0,126756000,228.0,61.80,21.764330
3,West Bengal,88752,91276115.0,99084000,185.0,76.36,8.554138
4,Madhya Pradesh,308252,72626809.0,86579000,560.8,69.32,19.210800
5,Tamil Nadu,130058,72447030.0,76860000,989.5,80.09,6.091306
6,Rajasthan,342239,68548473.0,81025000,357.6,66.11,18.201028
7,Karnataka,191791,61095297.0,67692000,244.4,75.36,10.797399
8,Gujarat,196024,60439692.0,71507000,1044.2,78.03,18.311324
9,Andhra Pradesh,162975,49577103.0,53156000,420.4,67.02,7.218851
10,Odisha,155707,41974218.0,46276000,339.4,72.87,10.248629
11,Telangana,112077,35003674.0,38090000,420.5,70.00,8.817149
12,Kerala,38863,33406061.0,35776000,1477.2,94.00,7.094338
13,Jharkhand,79714,32988134.0,39466000,157.3,66.41,19.636958
14,Assam,78438,31205576.0,35713000,379.0,72.19,14.444290
15,"Punjab, India",50362,27743338.0,30730000,242.0,75.84,10.765330
16,Chhattisgarh,135191,25545198.0,30180000,373.7,70.28,18.143535
17,Haryana,44212,25351462.0,30209000,697.2,75.55,19.160781
18,Delhi,1484,16787941.0,21359000,1479.9,86.21,27.228229
19,Jammu and Kashmir,42241,12541302.0,13603000,235.7,67.16,8.465612
20,Uttarakhand,53483,10086292.0,11637000,304.9,78.82,15.374411
21,Himachal Pradesh,55673,6864602.0,7468000,254.3,82.80,8.789992
22,Tripura,10486,3673917.0,4147000,117.3,87.22,12.876802
23,Meghalaya,22429,2966889.0,3349000,104.0,74.43,12.879181
24,Manipur,22327,2727749.0,3223000,101.0,76.94,18.156033
25,Nagaland,16579,1978502.0,2233000,67.2,79.55,12.863166
26,Goa,3702,1458545.0,1575000,191.6,88.70,7.984327
27,Arunachal Pradesh,83743,1383727.0,1562000,197.7,65.38,12.883538
28,Puducherry,479,1247953.0,1646000,290.1,85.85,31.895993
29,Mizoram,21081,1097206.0,1238000,262.2,91.33,12.832048
30,Chandigarh,114,1055450.0,1231000,247.1,86.05,16.632716
31,Sikkim,7096,610577.0,689000,107.4,81.42,12.844080
32,Dadra and Nagar Haveli and Daman and Diu,343709,585764.0,1263000,52.3,81.72,115.615845
33,Andaman and Nicobar Islands,8249,380581.0,403000,332.2,86.63,5.890730
34,Ladakh,59146,NaN,300000,187.6,77.52,NaN
35,Lakshadweep,32,64473.0,69000,188.2,91.85,7.021544

In [22]:
# Ladakh is 34th row having nan value. I will fill it with the value (after checking increasing rate) of some calculation.
print(df['pop_increas_rate'].mean())
population_of_Ladakh=30000*100/117
print(population_of_Ladakh)

16.831898955334122
25641.02564102564

In [23]:
# We have observed mean of population increasing rate and calculated population of Ladakh in 2011.
df['population  2011']=df['population  2011'].fillna(population_of_Ladakh)

In [24]:
df.isnull().sum()

States/UT           0
Area                0
population  2011    0
population 2023     0
Crime_Rate          0
Literacy_Rate       0
pop_increas_rate    1
dtype: int64

In [25]:
# I dont need 'pop_increas_rate' column any more.
df.drop(['pop_increas_rate'],axis=1,inplace=True)

In [26]:
df

,States/UT,Area,population 2011,population 2023,Crime_Rate,Literacy_Rate
0,Uttar Pradesh,240928,1.998123e+08,235687000,262.4,67.68
1,Maharashtra,307713,1.123743e+08,126385000,433.5,82.34
2,Bihar,94163,1.040995e+08,126756000,228.0,61.80
3,West Bengal,88752,9.127612e+07,99084000,185.0,76.36
4,Madhya Pradesh,308252,7.262681e+07,86579000,560.8,69.32
5,Tamil Nadu,130058,7.244703e+07,76860000,989.5,80.09
6,Rajasthan,342239,6.854847e+07,81025000,357.6,66.11
7,Karnataka,191791,6.109530e+07,67692000,244.4,75.36
8,Gujarat,196024,6.043969e+07,71507000,1044.2,78.03
9,Andhra Pradesh,162975,4.957710e+07,53156000,420.4,67.02
10,Odisha,155707,4.197422e+07,46276000,339.4,72.87
11,Telangana,112077,3.500367e+07,38090000,420.5,70.00
12,Kerala,38863,3.340606e+07,35776000,1477.2,94.00
13,Jharkhand,79714,3.298813e+07,39466000,157.3,66.41
14,Assam,78438,3.120558e+07,35713000,379.0,72.19
15,"Punjab, India",50362,2.774334e+07,30730000,242.0,75.84
16,Chhattisgarh,135191,2.554520e+07,30180000,373.7,70.28
17,Haryana,44212,2.535146e+07,30209000,697.2,75.55
18,Delhi,1484,1.678794e+07,21359000,1479.9,86.21
19,Jammu and Kashmir,42241,1.254130e+07,13603000,235.7,67.16
20,Uttarakhand,53483,1.008629e+07,11637000,304.9,78.82
21,Himachal Pradesh,55673,6.864602e+06,7468000,254.3,82.80
22,Tripura,10486,3.673917e+06,4147000,117.3,87.22
23,Meghalaya,22429,2.966889e+06,3349000,104.0,74.43
24,Manipur,22327,2.727749e+06,3223000,101.0,76.94
25,Nagaland,16579,1.978502e+06,2233000,67.2,79.55
26,Goa,3702,1.458545e+06,1575000,191.6,88.70
27,Arunachal Pradesh,83743,1.383727e+06,1562000,197.7,65.38
28,Puducherry,479,1.247953e+06,1646000,290.1,85.85
29,Mizoram,21081,1.097206e+06,1238000,262.2,91.33
30,Chandigarh,114,1.055450e+06,1231000,247.1,86.05
31,Sikkim,7096,6.105770e+05,689000,107.4,81.42
32,Dadra and Nagar Haveli and Daman and Diu,343709,5.857640e+05,1263000,52.3,81.72
33,Andaman and Nicobar Islands,8249,3.805810e+05,403000,332.2,86.63
34,Ladakh,59146,2.564103e+04,300000,187.6,77.52
35,Lakshadweep,32,6.447300e+04,69000,188.2,91.85